::-webkit-scrollbar {
	/* width: 5px; */
	/* background: grey; */
	/* scrollbar-color: red; */
	width: 0;
	height: 0;
}

html {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer 10+ */
}
